.cards-wrapper{
    margin-top: 300px;
}

.card-wrapper{
    border-radius: 15px 15px 15px 15px;
    background-color: #FFDBDB;
    padding: 10px 20px 10px 20px;
    height: 15rem;
}

.category{
    border-radius: 15px 15px 15px 15px;
    background-color: #C4C4C4;
    width: 20vh;
    height: 20vh;
}

.card-icon{
    font-size: 2rem;
}